##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://git@ubergit.debian.org/dsa/dsa-puppet.git
##

Use common-debian-service-https-redirect * people.debian.org

<Macro vhost-inner-people.debian.org>
	ServerAdmin debian-admin@debian.org
	DocumentRoot /srv/people.debian.org/htdocs

	ErrorLog /var/log/apache2/people.debian.org-error.log
	CustomLog /var/log/apache2/people.debian.org-access.log privacy

	HostnameLookups Off
	UseCanonicalName Off
	ServerSignature On

	UserDir public_html

	IndexOptions FancyIndexing NameWidth=*
	ReadmeName README.txt

	RedirectMatch ^/$ https://db.debian.org/
</Macro>

<VirtualHost <%= @vhost_listen %> >
	ServerName people.debian.org

	Use common-debian-service-ssl people.debian.org
	Use common-ssl-HSTS
	Use vhost-inner-people.debian.org
</VirtualHost>

<VirtualHost *:80>
	ServerName nossl.people.debian.org
	Use vhost-inner-people.debian.org
</VirtualHost>

<% if scope.function_onion_global_service_hostname(['people.debian.org']) -%>
<VirtualHost *:80>
	ServerName <%= scope.function_onion_global_service_hostname(['people.debian.org']) %>
	Use vhost-inner-people.debian.org
</VirtualHost>
<% end -%>
<% if scope.function_onionv3_global_service_hostname(['people.debian.org']) -%>
<VirtualHost *:80>
	ServerName <%= scope.function_onionv3_global_service_hostname(['people.debian.org']) %>
	Use vhost-inner-people.debian.org
</VirtualHost>
<% end -%>
