def $MUNIN_IPS = (<%=
begin
	scope.lookupvar('deprecated::nodeinfo')['misc']['v4addrs'].join(' ')
rescue
	''
end
%>);
def $MUNIN_IPS = ($MUNIN_IPS <%=
begin
	scope.lookupvar('deprecated::nodeinfo')['misc']['v6addrs'].join(' ')
rescue
	''
end
%>);
