##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

Use common-debian-service-https-redirect * planet-master.debian.org
<VirtualHost *:443>
	ServerName planet-master.debian.org
	ServerAdmin debian-admin@lists.debian.org

	Use common-debian-service-ssl planet-master.debian.org
	Use common-ssl-HSTS

	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>
	ErrorLog ${APACHE_LOG_DIR}/planet-master.debian.org-error.log
	CustomLog ${APACHE_LOG_DIR}/planet-master.debian.org-access.log privacy
	ServerSignature On

	DocumentRoot /srv/planet.debian.org/www
	<Directory /srv/planet.debian.org/www>
		# Localhost
		Require ip ::1
		Require ip 127.0.0.1
<%=
  lines = []
  scope.lookupvar('base::public_addresses').each do |addr|
    lines << "\t\tRequire ip #{addr}"
  end
  lines.join("\n")
# vim:set et:
# vim:set sts=2 ts=2:
# vim:set shiftwidth=2:
%>
	</Directory>
</VirtualHost>
